:root {
  --color-orange: #ff8a3d;
  --color-orange-light: #ffd6a5;
  --color-green: #6b8f71;
  --color-green-40: #6b8f7166;
  --color-green-light: #b7c9a3;
  --color-background: #fffdf9;

  --text-primary: #000;
  --text-secondary: #666;

  --font-title: var(--font-lora), Georgia, serif;
  --font-body: var(--font-lato), Arial, sans-serif;
}

/*Default styles*/
html {
  height: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--text-primary);
  background: var(--color-background);
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
.form-label {
  font-family: var(--font-title);
  color: #000;
  font-weight: 600;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  width: min(800px, calc(100% - 48px));
  margin: 0 auto;
  padding: 40px 0;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

/*Button styles*/
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  border-radius: 6px;
  border: 1px solid transparent;
  transition: 0.2s;
  cursor: pointer;
  width: fit-content;
  font-weight: 500;
  font-size: 1rem;
}

.btn-primary {
  background: var(--color-orange);
  color: var(--color-background);
  gap: 8px;
}

.btn-secondary {
  background: var(--color-green);
  color: var(--color-background);
}

.btn-clear {
  background: var(--color-background);
  color: var(--color-green);
  border-color: var(--color-green);
}

@media (hover: hover) and (pointer: fine) {
  .btn-primary:hover {
    background: var(--color-orange-light);
    border-color: var(--color-orange);
  }

  .btn-secondary:hover {
    background: var(--color-green-light);
    border-color: var(--color-green);
  }

  .btn-clear:hover {
    background: var(--color-green-light);
    border-color: var(--color-green);
  }
}

@media (max-width: 600px) {
  main {
    padding: 48px 24px;
  }
}

/*Navigation bar styles*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 12px 12px;
  border-bottom: 1px solid var(--color-green-light);
}

.navbar-section {
  display: flex;
  align-items: center;
  gap: 12px;
}

.navbar-brand {
  display: flex;
  flex-direction: column;
}

.navbar-brand-title {
  font-family: var(--font-title);
  font-size: 24px;
  line-height: 1.1;
}

.navbar-address {
  color: var(--color-orange);
}

.navbar-brand-subtitle {
  font-size: 14px;
  color: var(--color-green);
}

/* Search form styling*/
form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

.form-field-label {
  display: flex;
  align-items: center;
  font-size: 24px;
  gap: 10px;
}

.form-number {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  border-radius: 50%;
  background-color: var(--color-orange);
  color: var(--color-background);

  font-family: var(--font-body);
  font-weight: 500;
}

.form-number-even {
  background-color: var(--color-green);
}

.form-field-input {
  display: flex;
  gap: clamp(8px, 3vw, 20px);
}

.form-field-input input {
  flex: 1;
  min-width: 0;

  padding: 0 12px;

  border: 1px solid var(--color-green);
  border-radius: 6px;
}

.form-address-verification {
  color: var(--color-green);
  font-size: 18px;
  display: flex;
  justify-content: center;
}

.form-address-verified {
  display: flex;
  align-items: center;
  gap: 10px;

  width: 100%;
  padding: 12px;

  border: 1px solid var(--color-green-40);
  border-radius: 6px;

  color: var(--color-green);
  background-color: var(--color-background);
}

.verification-tick {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: var(--color-green);
}

.verification-tick svg {
  height: 18px;
  width: 18px;
}

input:focus {
  outline: none;
}

/*Styling the map*/
.results-map-wrapper,
.leaflet-container {
  min-height: 0;
  height: 100%;
}

.results-page {
  width: 100%;
  margin: 0;
  padding: 0;
  gap: 0;
  height: 100dvh;
  display: grid;

  /*NÄMÄ PITÄÄ VAIHTAA JOSSAIN VAIHEESSA!*/
  /*grid-template-columns: 2fr 1fr; /*Kartta 1/3 ruudusta*/
  grid-template-columns: 1fr 3fr; /*Kartta 3/4 ruudusta*/

  grid-template-rows: minmax(0, 1fr);
}

.results-list {
  min-height: 0;
  overflow-y: auto;
  padding: 12px;
}
